<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body align= "center">
	<h1>Nightly Charge Calculator</h1>
	<h5> Please select valid input as per requirement</h5>
    <form action="#" th:action="@{/hour}" th:object="${hour}" method="post">
    	<p>Start Time: <input type="time" th:field="*{startHour}" /></p>
    	<p>Bed Time: <input type="time" th:field="*{bedTimeHour}" /></p>
        <p>End Time: <input type="time" th:field="*{midnightHour}" /></p>
        <p><input type="submit" value="Calculate" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>